@viewport{
    width:1000px;
}
@font-face{
    font-family: titleFont;
    src:url(../Sablon_Up_College_Alt.otf);
}

html{
    background-color:rgb(85,0,0);
    overflow-x:hidden;
}

body{
    padding:0px;
    margin:0px;
    color:#666666;
    background-color:rgb(85,0,0);
}

.slideContainer{
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    opacity: 1;
}
.slideContent{
	max-width: 450px;
	margin: -150px auto 0px auto;
	display: table-cell;
	vertical-align: middle;
	color: #666666;
	padding: 0 16.66%;
	text-align: left;
}
.bcg{
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color:rgb(85,0,0);
    min-height: 1000px;
    max-height: 100%;
    max-width: 100%;
    width: 100%;
	height:100%;
    display:block;

}

a {
    color: #FFFFFF;
}

a:visited {
    color: #FFFFFF;
}

a:hover {
	color:rgb(85,0,0);
}

/* This is code for the navbar */
#navbar {
    position: fixed;
    right:0px;
    padding:10px;
    z-index:9999;
    width:50px;
    
}

#cs_nav ul {
  margin: 0;
}

#cs_nav li {
  display: none;
  margin-bottom: 10px;
  padding: 0 0 0 5px;
}

#cs_nav li a {
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.75);
  display: block;
  height: 20px;
  text-indent: -9999px;
  width: 20px;
/*  -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
          border-radius: 20px;  */
  -webkit-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
       -o-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
}

#cs_nav li a:hover {
  background: #FFF;
  border: 2px solid #fff200;
  height: 16px;
  width: 16px;
}

#cs_nav li:hover,

#cs_nav li.current {
}

#cs_nav li.current a {
  background: #fff200;
}



/* 

This attribute is used only for the DE logo
z-index determines stack order of an element
(9999 = the logo is very important)

 */
.sticky{
    position:fixed;
    right:0px;
    padding:10px;
    z-index: 9999;
    
}

/* 

The following are pictures in order of appearance
(Add new images to the top) 

*/

#marks_jumps .bcg{
    background-image:url('../img/marks_jumps.jpg');
    background-size: cover;
}

#flag_runner .bcg{
    background-image:url('../img/flag_runner.jpg');
    background-size: cover;
}

#luke_falk_scanning .bcg{
    background-image:url('../img/luke_falk_scanning.jpg');
}

#taylor_taliulu_ready .bcg {
    background-image: url('../img/taylor_taliulu_ready.jpg');
}

#elson_reprimands_butch .bcg {
    background-image:url('../img/elson_reprimands_butch.jpg');
}

#butch_surprised .bcg{
    background-image: url('../img/butch_surprised.jpg');
}

/* 

These are text slides named the same as their section ID names and anchors 
One per text slide, in order of appearance
(Add new slides above old ones) 

*/
#Battletested .bcg{
    background: none;
    background-color: #981e32;
    height: 100%;
    text-align: center;
    color:rgb(85,0,0);
}

#Coming_Home .bcg{
    background: none;
    background-color: #981e32;
    height: 100%;
    text-align: center;
    color:rgb(85,0,0);
}

#Cool_Hand_Luke .bcg{
    background: none;
    background-color: #981e32;
    height: 100%;
    text-align: center;
    color:rgb(85,0,0);
}

#His_Brothers_Keeper .bcg{
    background: none;
    background-color: #981e32;
    height: 100%;
    text-align: center;
    color:rgb(85,0,0);
}

#ESF_Athletes_Sports .bcg{
    background: none;
    background-color: #981e32;
    height: 100%;
    text-align: center;
    color:rgb(85,0,0);
}

#Credits .bcg{
    background:rgb(85,0,0);
    height:100%;
    text-align: center;
    color:rgb(85,0,0);
}

#bootstrap-overrides body{
    background-color:rgb(85,0,0);
}


.Credits h4{
    max-width:100%;
    margin:0px;
    color: white;
    font-size:60px;
    font-family: 'Russo One', sans-serif;
    margin-top:50px; 
}

.Credits p{
    max-width:100%;
    margin:0px;
    color:white;
    font-size:24px;
    font-family:'Open Sans', sans-serif;
}

/*

These attributes are used as the div class of every text slide

*/

.slideContent #text_slide h4{
    max-width:100%;
    margin:0px;
    color: white;
    font-size:60px;
    font-family: 'Russo One', sans-serif;
    margin-top:50px;
}

.slideContent #text_slide p{
    max-width:100%;
    margin:0px;
    color:white;
    font-size:24px;
    font-family:'Open Sans', sans-serif;
}

/* 

Not sure if these will be used for sidescrolling or something

*/

.curtainContainer {
    width: 100%; height: 100%;
    position: relative;
}
.curtainContainer .curtain {
    width: 300%; height: 1px;
    background-color: #000000;
    position: absolute; top: 25%; left: 0;
    opacity: 0
}
.curtainContainer .copy {
    position: absolute;
    bottom: 30%; left: 100px;
    width: 100%; text-align: center;
}

section{
    min-width:960px;
    opacity:1;
}


/*

Sidescrolling Slides
(To be implemented)

.sideScroll {
    width:1500px;
    height:1000px;
    float:left;
    margin:0;
    padding:0;
    overflow-x:hidden;
    position:relative;
    display:block;
}
.sideSlideContainer, .sideSlideContainer > .sideSlideContent{
    width:6000px;
    height:1000px;
    float:left;
    top:0px;
    left:0px;
    display:block;
    position:inherit;
}
.sideSlideContainer .sideSlide1{
    width:1500px;
    height:1000px;
    float:left;
    background:url('../img/butch_pointing.jpg');
    display:block;
    position:inherit;
    top:0px;
    left:0px;
}
.sideSlideContainer .sideSlide2{
    width:1500px;
    height:1000px;
    float:left;
    background: url('../img/butch_pumped.jpg');
    display:block;
    position:inherit;
    top:0px;
    left:1500px;
}
.sideSlideContainer .sideSlide3{
    width:1500px;
    height:1000px;
    float:left;
    background: url('../img/butch_surprised.jpg');
    display:block;
    position:inherit;
    top:0px;
    left:3000px;
}

*/

/* Templates


This is a text slide

#Text_Slide_Name .bcg{
    background: none;
    background-color: #981e32;
    height: 100%;
    text-align: center;
    color:rgb(85,0,0);
}

Backup text slide properties

.slideContent #text_slide h4{
    max-width:100%;
    margin:0px;
    color: white;
    font-size:74px;
    font-family:titleFont;
    margin-top:50px;
}
.slideContent #text_slide p{
    max-width:100%;
    margin:0px;
    color:white;
    font-size:24px;
    font-family:'Open Sans', sans-serif;
    
}

*/